:root {
    --cor-0: #F5F7FA;
    --cor-1: #375B68;
    --cor-2: #4F7E8E;
    --cor-3: #8EC5CA;
}
  
  .cor-0 {
    color: var(--cor-0);
}
  .cor-1 {
    color: var(--cor-1);
}
  .cor-2 {
    color: var(--cor-2);
}
  .cor-3 {
    color: var(--cor-3);
}