.font-sans-r{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.font-sans-sb{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.font-sans-b{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.font-sahi-r{
    font-family: 'Sahitya', serif;
    font-weight: 400;
}

.font-sahi-b{
    font-family: 'Sahitya', serif;
    font-weight: 700;
}