.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header div > a img{
    max-width: initial;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 48px;
    font-size: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-menu li a{
    position: relative;
}

.nav-menu li a:hover{
    color: var(--cor-3);
    transition: 0.3s;
}

.nav-menu li a::after{
    display: block;
    background: url("../../img/header/feather-hover.svg") no-repeat center;
    background-size: 35px;
    height: 20px;
    width: 40px;
    position: absolute;
}

.nav-menu li a:hover::after{
    content: "";
    width: 100%;
}

.icons-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.icons-menu div a img{
    max-width: initial;
}

@media (max-width: 1200px){
    .header{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 10px;
    }

    .nav-menu{
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 28px;
    }

    .nav-menu li a{
        padding: 10px;
    }

    .icons-menu div a img{
        padding: 20px;
    }
}