*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background: none;
    border: none;
}